{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">Zitter</h3><hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form action="." method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<input type="hidden" name="next" value="{{ next }}">
				<button class="btn btn-primary btn-block">login</button>
			</form>
		</div>
		<div class="col-md-4 offset-4">
			<p>New to Zitter?</p>
			<p>Register <a href="{% url "account:register" %}">here</a></p>
		</div>
	</div>
{% endblock %}