
{% with user=action.user profile=action.user.profile %}
	<p>
	<div>
		{% if profile.photo %}
			<a href="{% url "account:user_detail" user.username %}">
				<img src="{{ user.profile.photo.url }}" alt="{{ user.username }}" width="100" height="100">
			</a>	
		{% endif %}
		{% if action.target %}
			{% with target=action.target %}
				{% if target.image %}
					<img src="{{ target.image.url }}">
				{% endif %}
			{% endwith %}
		{% endif %}
	</div>
	<div>
		<p>
			<span>{{ action.created|timesince }} ago</span>
			<br>
			<a href="{% url "account:user_detail" user.username %}">{{ user.first_name }}</a>
			{{ action.verb }}
			{% if action.target %}
				{% with target=action.target %}
					<a href="{{ target.get_absolute_url }}">{{ target }}</a>
				{% endwith %}
			{% endif %}
		</p>
	</div>
	</p>
{% endwith %}
