{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter-home
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			{% if user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" class="img-rounded img-responsive" width="304" height="236">
			{% else %}
				<img src="{% static "img/no_img.png" %}" class="img-circle img-responsive float-center" alt="Cinque Terre">
			{% endif %}
			<br><br>
			<p>Username : {{ request.user.username }} <a href="{% url "account:edit" %}">(edit)</a></p>
			<p>Date-Of-birth : {{ user.profile.date_of_birth }}</p>
			<p><b>Bio:</b>{{ user.profile.bio }}</p><hr>
		</div>
		<div class="col-md-4">
			{% if zeets %}
				<h4 class="text-center">My zeets:</h4>
				{% for zeet in zeets %}
					<div class="thumbnail">
				      	{% if zeet.image %}
								<img src="{{ zeet.image.url }}" class="img-rounded" width="250" height="250">
						{% endif %}
				        <div class="caption">
				        	<p><b>{{ zeet.likes.count }} like{{ zeet.likes.count|pluralize }}, 
						{{ zeet.comments.count }} comment{{ zeet.comments.count|pluralize }}</b></p>
				        	<p>
				        		{% if request.user not in zeet.likes %}
				        			<a href="{% url "zeets:remove_like" zeet.pk %}">
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				        			</a>
				        		{% else %}
				        			<a href="{% url "zeets:add_like" zeet.pk %}">		        				
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				        			</a>
				        		{% endif %}
				        		{% if request.user not in zeet.likes %}
				        			<a href="{% url "zeets:add_like" zeet.pk %}">
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				        			</a>
				        		{% else %}
				        			<a href="{% url "zeets:remove_like" zeet.pk %}">	        				
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				        			</a>
				        		{% endif %}
				        		<a href="{% url "zeets:comment" zeet.pk %}" style="color:green;"><button class="btn btn-success btn-md"><span class="glyphicon glyphicon-comment"></span></button></a>
				        	</p>
				        	<p>{{ zeet.body|linebreaks }}</p>
						  	<p><small>{{ zeet.created }}</small></p>
						  	<a href="{% url "zeets:delete" zeet.pk %}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
				    	</div>
					</div>
				{% endfor %}
			{% else %}
				<h4 class="text-center">No zeets yet.</h4>
				<p><a href="{% url "zeets:post" %}">zeet</a>now...</p>
			{% endif %}
		</div><hr>
		</div>
{% endblock %}

{% block side %}
{% for action in actions %}
	{% include "actions/actions_detail.html" %}
{% endfor %}
{% endblock %}