{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter-home
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% if user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" class="img-circle img-responsive" width="304" height="236">
			{% else %}
				<img src="{% static "img/no_img.png" %}" class="img-circle img-responsive float-center" alt="Cinque Terre">
			{% endif %}
			<br><br><br>
			<p>Username : {{ request.user.username }} <a href="{% url "account:edit" %}">(edit)</a></p>
			<p>Date-Of-birth : {{ user.profile.date_of_birth }}</p>
			<p><b>Bio:</b>{{ user.profile.bio }}</p>
			<p><a href="{% url "zeets:home" %}">See</a> all my zeets?</p>
			<p><a href="{% url "zeets:post" %}">zeet</a>?</p>
		</div>
	</div>
{% endblock %}