{% extends "base.html" %}
{% load static %}

{% block title %}
	People
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<h3>About:</h3>
			<br><br>
			{% if user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" width="200" height="200" class="img-rounded">
			{% else %}
				<img src="{% static "img/no_img.png" %}" class="img-circle">
			{% endif %}<br><br>
			<p><b>Username : {{ user.username }}</b></p>
			<p><b>Date-of-birth:</b>{{ user.profile.date_of_birth }}</p>
			<p><b>Bio:</b>{{ user.profile.bio }}</p>
		</div>			
	<h3>{{ user.username }}</h3><br>
	<br>
		<div class="col-md-4">
			{% if zeets %}
				{% for zeet in zeets %}
					<div class="thumbnail">
				      	{% if zeet.image %}
								<img src="{{ zeet.image.url }}" class="img-rounded" width="250" height="250">
						{% endif %}
				        <div class="caption">
				        	<p><b>{{ zeet.likes.count }} like{{ zeet.likes.count|pluralize }}, 
						{{ zeet.comments.count }} comment{{ zeet.comments.count|pluralize }}</b></p>
				        	<p>
				        		{% if request.user not in zeet.likes %}
				        			<a href="{% url "zeets:remove_like" zeet.pk %}">
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				        			</a>
				        		{% else %}
				        			<a href="{% url "zeets:add_like" zeet.pk %}">		        				
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				        			</a>
				        		{% endif %}
				        		{% if request.user not in zeet.likes %}
				        			<a href="{% url "zeets:add_like" zeet.pk %}">
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				        			</a>
				        		{% else %}
				        			<a href="{% url "zeets:remove_like" zeet.pk %}">	        				
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				        			</a>
				        		{% endif %}
				        		<a href="{% url "zeets:comment" zeet.pk %}" style="color:green;"><button class="btn btn-success btn-md"><span class="glyphicon glyphicon-comment"></span></button></a>
				        	</p>
				        	<p>{{ zeet.body|linebreaks }}</p>
						  	<small>{{ zeet.created }}</small>
				    	</div>
					</div>
				{% endfor %}
			{% endif %}
		</div><hr>
	</div>
{% endblock %}

