{% extends "base.html" %}
{% load static %}

{% block title %}
	People
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<h3>{{ user.username }}</h3><br>
			{% if user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" width="250" height="250">
			{% else %}
				<img src="{% static "img/no_img.png" %}" class="img-circle">
			{% endif %}
			<br><br><br>
			{% if zeets %}
				{% for zeet in zeets %}
					<p><b>Posted by {{ zeet.zeeter }}</b></p>
					<small>{{ zeet.created }}</small>
					<br><br>
					{% if zeet.image %}
						<img src="{{ zeet.image.url }}" class="img-rounded" width="250" height="250">
					{% endif %}
					{{ zeet.body|linebreaks }}<hr>
				{% endfor %}
			{% endif %}			
		</div>
		<div class="col-md-4">
		<h3>About:</h3>
			<br>
			<p><b>Date-of-birth:</b>{{ user.profile.date_of_birth }}</p>
			<p><b>Bio:</b>{{ user.profile.bio }}</p>
		</div>
	</div>
{% endblock %}