{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter-home
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			<form action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ user_form|crispy }}
				{{ profile_form|crispy }}
				<button class="btn btn-primary btn-block">save changes</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block side %}
	<br><br><br><br><br>
	<img src="{% static "img/bird.png" %}" width="250" height="200">
{% endblock %}