{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter-feed
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-7">
	{% if zeets %}
		{% for zeet in zeets %}
				<h4><a href="{% url "account:user_detail" zeet.zeeter %}">{{ zeet.zeeter.profile.image.url }}{{ zeet.zeeter }}</a></h4>
				<div class="thumbnail">
					{% if zeet.image %}
						<img src="{{ zeet.image.url }}" class="img-rounded" width="250" height="250">
					{% endif %}
					<div class="caption">
						<p><b>{{ zeet.likes.count }} like{{ zeet.likes.count|pluralize }}, 
						{{ zeet.comments.count }} comment{{ zeet.comments.count|pluralize }}</b></p>
				        	<p>
				        		{% if request.user not in zeet.likes %}
				        			<a href="{% url "zeets:remove_like" zeet.pk %}">
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				        			</a>
				        		{% else %}
				        			<a href="{% url "zeets:add_like" zeet.pk %}">		        				
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				        			</a>
				        		{% endif %}
				        		{% if request.user not in zeet.likes %}
				        			<a href="{% url "zeets:add_like" zeet.pk %}">
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				        			</a>
				        		{% else %}
				        			<a href="{% url "zeets:remove_like" zeet.pk %}">	        				
				        				<button class="btn btn-primary btn-md"><span class="glyphicon glyphicon-thumbs-down"></span></button>
				        			</a>
				        		{% endif %}
				        		<a href="{% url "zeets:comment" zeet.pk %}" style="color:green;"><button class="btn btn-success btn-md"><span class="glyphicon glyphicon-comment"></span></button></a>
				        	</p>
					    <p>{{ zeet.body|linebreaks }}</p>
						<p><small>{{ zeet.created }}</small></p>
					</div>
				</div><hr>
		{% endfor %}
	{% else %}
		<p>No zeets yet. Start zeeting <a href="{% url "zeets:post" %}">here</a>.</p>
	{% endif %}
</div>
</div>
{% endblock %}