{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter-home
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12 offset-12">
			<br><br>
			{% if zeets %}
					{% for zeet in zeets %}
						<b>Posted by {{ zeet.zeeter }}</b><br>	
						<small>{{ zeet.created }}</small>
						<a href="{% url "zeets:edit_zeet" zeet.pk %}">(edit zeet)</a>
						<br>
						{% if zeet.image %}
							<img src="{% if zeet.image %}{{ zeet.image.url }}{% endif %}" width="250" height="250">
						{% endif %}
						<p>{{ zeet.body|linebreaks }}</p>
						<a style="color: green;" href="{% url "zeets:comment" zeet.pk %}">comment</a>
						<a style="color: red;" href="{% url "zeets:delete" zeet.pk %}">delete?</a> <b> (Warning! It's a one click delete)</b>
						<hr>
					{% endfor %}
			{% else %}
				<p>Oops! No zeets yet. Start Zeeting <a href="{% url "zeets:post" %}">here</a>.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}

