{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
	zitter-home
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<br>
			<h3 class="text-left">Zitter</h3>
		</div>
		<div class="col-md-4 offset-4">
			<br>
				{% if request.user.is_authenticated %}
					<p>{{ request.user.username }} <a href="{% url "account:logout_then_login" %}">(logout)</a></p>
				{% else %}
					<a href="{% url "account:login" %}">login</a>
				{% endif %}
		</div>
	</div><hr>
	<div class="row">
		<div class="col-md-12">
			{% if zeets %}
				<ul>
					{% for zeet in zeets %}
						<li>Posted by {{ zeet.zeeter }}</li>		
						<small>{{ zeet.created }}</small>
						<a href="{% url "zeets:edit_zeet" zeet.pk %}">(edit zeet)</a>
						<br>
						{% if zeet.image %}
							<img src="{% if zeet.image %}{{ zeet.image.url }}{% endif %}" width="250" height="250">
						{% endif %}
						<p>{{ zeet.body|linebreaks }}</p>
						<a style="color:red;" href="{% url "zeets:delete" zeet.pk %}">delete?</a> <b> (Warning! It's a one click delete)</b><hr>
					{% endfor %}
				</ul>
			{% else %}
				<p>Oops! No zeets yet. Start Zeeting <a href="{% url "zeets:post" %}">here</a>.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}